*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}
body{
  background: url('1.jpeg');
  background-size: cover;
}
.a{
  width: 250px;
  top: 280px;
  right: -70px;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  background-color: gray;
  padding: 20px 10px;
}
.a h1{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
  outline: none;
  background-color: black;
  border-radius: 5px;
  
}
.a p{
  font-size: 10px;
  margin: 5px 0;
  font-weight: bold;
}
.a input{
  font-size: 10px;
  width: 100%;
  padding: 10px 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
}
.a button{
  font-size: 10px;
  font-weight: bold;
  margin: 10px 0;
  padding 50px 15px;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  background-color: blue;
  outline: none;
  color: white;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    position: absolute;
    top: 0;

}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 16px 0;
}
.navbar ul li{
    font-size: 1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 4px 21.2px;
    font-size: 15px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
}
.main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    background-color: white;
    color: black;
    font-weight: bold;
}
#gallery{
    display: flex;
    flex-direction: column;
    background-color: black;
    color:white;
    align-items: center;
    padding: 55px;
}
.photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 2px;
}
.photo img{
width: 340px;
height: 240px;
margin: 10px;
}